.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }


   &__btn {
        margin-top: 5rem;
        border: none;
        border-radius: 0;
        width: 5rem;
        height: 5rem;
        display: block;
        background-color: transparent;
        cursor: pointer;  
        transition:all .3s background-color .5s;

        @media only screen and (max-width: $bp-large){
            margin-top:0;
            margin-right: 5rem;
            margin-bottom: 1rem;
             
        }
        

    }

     &__components {
        background-color:#fff;
        height:2px;
        width:5rem;
        display: inline-block;
    
        &::before,
        &::after {
            height:2px;
            width:5rem;
            background-color:#fff;
            content: "";
            display: block;

        }

        &::before {transform: translateY(-1.5rem);
        }
        &::after {transform: translateY(1.3rem);}

        @media only screen and (max-width:$bp-large){
            &::before {transform: translateY(-1.2rem);
            }
            &::after {transform: translateY(1rem);}
        }
        
    }



}
.sidebar__btn:hover .sidebar__components::before{
    transform:translateY(-1.7rem);

    @media only screen and (max-width:$bp-large){
        transform:translateY(-1.4rem);
    }
    
}
.sidebar__btn:hover .sidebar__components::after{
    transform:translateY(1.5rem);

    @media only screen and (max-width:$bp-large){
        transform:translateY(1.2rem);
    }
    
}
